
@{
    ViewBag.Title = "Index_supporter";
    Layout = "~/Views/Shared/_Layout_Supporter.cshtml";
}

<section class="content container-fluid">
    <div class="panel panel-default" style="margin-top:10px;">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Dashboard</strong>
                        <p>This is just a landing page for interview purposes, click on the side menu links for functionalities.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

