<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>JamboPay - Ambassador Portal</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet"   type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/line-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/morris/morris.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/customprofile.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/customstylesheet.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/Content/sweetalert/sweet-alert.css"/>
    <link rel="stylesheet" href="/assets/customassets/sessions/timeout-dialog.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/loadercss.css"/>
</head>
<body>
<div class="main-wrapper">
 
    <div class="header">
        <div class="header-left">
            <a href="/Home/Index" class="logo">
                <img src="/assets/img/logo.png" width="85" height="40" alt="">
            </a>
        </div>
        <a id="toggle_btn" href="javascript:void(0);"><i class="la la-bars"></i></a>
        <div class="page-title-box pull-left">
            <h3>JamboPay</h3>
        </div>
        <a id="mobile_btn" class="mobile_btn pull-left" href="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <ul class="nav navbar-nav navbar-right user-menu pull-right">
            <li class="dropdown">
                <a href="/Home/Profile" class="dropdown-toggle user-link" data-toggle="dropdown" title="user">
                    <span class="user-img"><img class="img-circle"  width="40" alt="avatar" id="avatar" onerror="this.onerror = null; this.src = '/images/avatar6.png';" src="">
                        <span class="status online"></span></span>
                    <span>@Session["fname"] &nbsp; @Session["lname"]</span>
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/Home/Profile">Settings</a></li>
                    <li><a href="/Home/CheckLogout">Logout</a></li>
                </ul>
            </li>
        </ul>
        <div class="dropdown mobile-user-menu pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
            <ul class="dropdown-menu pull-right">
                <li><a href="#">Change Password</a></li>
                <li><a href="/Home/CheckLogout">Logout</a></li>
            </ul>
        </div>
    </div>
        
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>

                    <li class="active"><a href="/Home/Index"><i class="glyphicon glyphicon-home"></i> <span>Dashboard</span></a></li>

                    <li class="submenu">
                        <a href="#"><i class="fa fa-folder fa-fw"></i> <span> Transactions</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="/Home/Recruit_Supporter"><span> Recruit Supporters</span> </a></li>
                            <li><a href="/Home/View_Transactions"><span>View Transactions</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>  


    <div class="page-wrapper">
        @RenderBody()
        <footer class="main-footer ffooter">
            <strong>Copyright &copy; @DateTime.Now.Year  - <a href="https://www.jambopay.com" target="_blank">Jambo Pay </a>.</strong>
        </footer>
    </div>

</div>
    
<div class="sidebar-overlay" data-reff="#sidebar"></div>
<script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>  
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.slimscroll.js"></script>
<script type="text/javascript" src="/assets/plugins/morris/morris.min.js"></script>
<script type="text/javascript" src="/assets/plugins/raphael/raphael-min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.slimscroll.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
@*<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>*@
<script type="text/javascript" src="/assets/js/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script type="text/javascript" src="/assets/js/bootstrap-select.min.js"></script>

@*custom javascripts*@
<script src="~/assets/customassets/buttonClicks.js" type="text/javascript"></script>
<script src="/assets/customassets/myCustomscripts.js" type="text/javascript" ></script>
<script src="/assets/customassets/sessions/timeout-dialog.js" type="text/javascript" ></script>
<script src="/assets/customassets/jsFunctions.js" type="text/javascript" ></script>
<script src="/assets/js/countrypicker.js" type="text/javascript" ></script>

</body>
</html>
